<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="vamz.kst.fri.serverapp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".SourceService"
                android:enabled="true"
                android:exported="true">

            <intent-filter>
                <!-- cez plny nazov triedy ako znenie intentu -->
                <action android:name="vamz.kst.fri.serverapp.SourceService"></action>
                <!-- alebo cez vlastné znenie intent -->
                <!--  <action android:name="superTajny.Intent.One"></action> -->
            </intent-filter>

        </service>
    </application>

</manifest>
